# Shared
SANITY_PROJECT_ID=yourProjectId
SANITY_DATASET=production

# Sanity Studio (packages/cms)
SANITY_STUDIO_PROJECT_ID=yourProjectId
SANITY_STUDIO_DATASET=production

# Next.js web app (packages/web)
NEXT_PUBLIC_SANITY_PROJECT_ID=yourProjectId
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2025-01-01
